<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SYMainViewController</key>
	<dict>
		<key>SYLogTrackedEvents</key>
		<array>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_ShakeStart</string>
				<key>SYLogEventSelectorName</key>
				<string>shakeToStart:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_StartDraw</string>
				<key>SYLogEventSelectorName</key>
				<string>startDraw:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_StopDraw</string>
				<key>SYLogEventSelectorName</key>
				<string>stopDraw:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_AddPhotos</string>
				<key>SYLogEventSelectorName</key>
				<string>addPhotos:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_TakePhoto</string>
				<key>SYLogEventSelectorName</key>
				<string>takePhoto:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_ChoosePhoto</string>
				<key>SYLogEventSelectorName</key>
				<string>choosePhoto:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_ReloadPhotos</string>
				<key>SYLogEventSelectorName</key>
				<string>reloadPhotos:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_SlideMenu</string>
				<key>SYLogEventSelectorName</key>
				<string>slideMenu:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>MainVC_ShowDrawModes</string>
				<key>SYLogEventSelectorName</key>
				<string>showDrawModes:</string>
			</dict>
		</array>
	</dict>
	<key>SYImagePickerController</key>
	<dict>
		<key>SYLogTrackedEvents</key>
		<array>
			<dict>
				<key>SYLogEventName</key>
				<string>AlbumVC_AddPhotoCompletion</string>
				<key>SYLogEventSelectorName</key>
				<string>addPhotoCompletion:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>AlbumVC_CloseAlbum</string>
				<key>SYLogEventSelectorName</key>
				<string>closeAlbum:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>AlbumVC_UnselectPhotos</string>
				<key>SYLogEventSelectorName</key>
				<string>unselectPhotos:</string>
			</dict>
			<dict>
				<key>SYLogEventName</key>
				<string>AlbumVC_SelectAllPhotos</string>
				<key>SYLogEventSelectorName</key>
				<string>selectAllPhotos:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
